.ant-modal-content {
  height: 100% !important;
}

.ant-modal-body {
  height: 80% !important;
}

.ant-avatar-image > img {
  height: 100% !important;
  width: 100% !important;
}

.ant-comment-avatar > img {
  height: 40px !important;
  width: 40px !important;
}

.like {
  display: flex;
  justify-content: space-around;
  width: 60px;
  margin-top: 15px;
}

.comment {
  overflow: auto;
  max-height: 45%;
}

@media only screen and (min-width: 1400px) {
  .comment {
    overflow: auto;
    max-height: 68%;
  }
}

.detail_images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.relation {
  margin-top: 6vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.box {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
